<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Yota">
    <test name="Admin_User" parallel = "methods">
        <classes>
            <class name="AdminTests"/>
            <class name="UserTests"/>
    </classes>
    </test>
</suite>